[phases.setup]
nixPkgs = ["python310", "gcc", "gnumake", "cmake", "pkg-config"]
aptPkgs = [
    "ffmpeg", 
    "libsm6", 
    "libxext6", 
    "libgl1", 
    "zlib1g-dev", 
    "libxcb1", 
    "libxrender1", 
    "libx11-6", 
    "libglib2.0-0", 
    "libxext6", 
    "libxi6", 
    "libxtst6"
]

[phases.build]
cmds = ["python -m pip install --upgrade pip setuptools wheel", "pip install -r requirements.txt"]

[start]
cmd = "uvicorn app:app --host 0.0.0.0 --port $PORT"
