[phases.setup]
# Cache Buster: 2026-02-02-14-36
nixPkgs = ["python310", "gcc", "gnumake", "cmake", "pkg-config"]
aptPkgs = [
    "ffmpeg", "libsm6", "libxext6", "libgl1", "zlib1g-dev", 
    "libxcb1", "libxrender1", "libx11-6", "libglib2.0-0", 
    "libxi6", "libxtst6", "libexpat1",
    "libxcb-icccm4", "libxcb-image0", "libxcb-keysyms1", 
    "libxcb-randr0", "libxcb-render-util0", "libxcb-xinerama0", 
    "libxcb-xkb1", "libxkbcommon-x11-0", "libxcb-util1"
]

[phases.build]
cmds = ["python -m pip install --upgrade pip setuptools wheel", "pip install -r requirements.txt"]

[start]
cmd = "uvicorn app:app --host 0.0.0.0 --port $PORT"
