fastapi
uvicorn
python-dotenv
pydantic
pymupdf
opencv-python-headless==4.8.0.74
numpy<2.0.0
google-generativeai
Pillow
python-multipart
jinja2
requests
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]

